@import-normalize;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Kurale", serif;
	background-color: #2d2a25;
	overflow: hidden;
	overflow-y: auto;
}

h3.title-section {
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 300;
	color: #fff;
	padding: 0 0 1.5rem;
	margin-bottom: 1.5rem;
	border-bottom: 0.1rem dashed rgba(255, 255, 255, 0.5);
}

p.paragraph-section {
	font-size: 1.4rem;
	line-height: 2.5rem;
	letter-spacing: 0.1rem;
	color: rgba(255, 255, 255, 0.5);
	text-align: justify;
}
